<meta name="description" content="{{ .Site.Params.meta.description }}">
<!-- Open graph -->
<meta name="author" content="{{ .Site.Params.meta.author }}">
<meta property="og:title" content="{{ .Site.Params.meta.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Site.Params.baseurl }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}assets/images/{{ .Site.Params.meta.image }}" />
<meta property="og:description" content="{{ .Site.Params.meta.description }}" />
<meta property="og:site_name" content="{{ .Site.Params.meta.title }}" />
<meta property="og:locale:alternate" content="en_US" />
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ .Site.Params.meta.twitter }}">
<meta name="twitter:title" content="{{ .Site.Params.meta.title }}">
<meta name="twitter:description" content="{{ .Site.Params.meta.description }}">
<meta name="twitter:creator" content="{{ .Site.Params.meta.twitter }}">
<meta name="twitter:image" content="{{ .Site.BaseURL }}assets/images/{{ .Site.Params.meta.image }}">
<!-- Google -->
<meta name="description" content="{{ .Site.Params.meta.description }}"/>
<meta name="googlebot" content="index, follow"/>
<meta name="robots" content="index, follow"/>
<link rel="canonical" href="{{ .Site.Params.baseurl }}"/>
