<section class="section talks-section">
    <h2 class="section-title">
    <i class="fa {{ .Site.Params.talks.icon }}"></i>
    {{ i18n "talks" }}
    </h2> {{ range .Site.Params.talks.list }}
    <div class="item">
        <div class="meta">
         <div class="upper-row">
            <span class="project-title"><a href="{{ .url }}">{{ .title }}</a>
                <div class="time">{{ .dates }}</div>
            </div>
        </span>
        </div>
        <div class="details">
         <p class="project-tagline">{{ with .tagline }}{{ . | markdownify }}{{ end }}</p>
        </div>
    </div>
    <!--//item-->
    {{ end }}
</section>
<!--//section-->
